body {
    margin: 0;
}


#input_area {
    background: #6943FF;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    height: 285px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 25px;
}

#header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-top: 33px;
}

#input_area input {
    box-sizing: border-box;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    background: #6943FF;
    color: white;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
}

#input_area button {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 9px 27.5px;
    height: 42px;
    margin-bottom: 34px;
}

#input_area button:hover {
    background: #ccc8c8;
}

#conversion_area {
    background: #1F2937;    
    color: #CCC1FF;
    display: grid;
    row-gap: 24px;
    justify-items: center;
}

.conversion_box {
    height: 109px;
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-right: 25px;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
}

.conversion {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: 19px;
    
}

.category-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 31px;
}

#length_area {
    margin-top: 36px;
}

#mass_area {
    margin-bottom: 36px;
}